-
    var awardHeader = '#awards'
    var awardList = [
        {
            title: 'Best 30s elevator speed speech',
            description: 'I’ve won the 1st place twice and 2nd place once.',
            location: 'Google Campus – London',
            date: '2014'
        },
        {
            title: 'Best web site for president elections',
            description: 'I\'ve won the best built website for the second runner in the presidential election campaign.',
            location: 'Constanta / Romania',
            date: '2001'
        }
    ];
#award
.award
    //- ☐ trophy to title
    //- ☐ info to description
    //- ☐ map2 to location
    //- ☐ calendar to date
    .award__header=awardHeader
    each award in awardList
        .award__card
            .award__icon
                span.my-cv__icon--trophy
            .award__title=award.title

            .award__icon
                span.my-cv__icon--info
            .award__description=award.description

            .award__icon
                span.my-cv__icon--map2
            .award__location=award.location

            .award__icon
                span.my-cv__icon--calendar
            .award__date=award.date
