//- data come here
- 
    var header = '#about me'
    var imagePath = "asset/image/marian-zburlea-avatar.jpg"
    var myFullName = "Marian Zburlea"
    var myTitle = "Unicorn trainer"
    var slogan = `I make the front-end world a better place every day.`
    var achievement = {
        title: 'achievement',
        content: `I've built a custom SEO CMS that boosted search results position in Google's first places for tens of clients and their websites without any additional effort and minimum or no training.`
    }

    var coolStuff = {
        title: 'grab cool stuff',
        buttonList: [
            {
                url: 'http://github.com/marianzburlea/my-resume',
                icon: 'github',
                label: 'Click to visit the GitHub project source'
            },{
                url: "asset/doc/CONTRACTS ONLY - resume Marian Zburlea - one page.docx",
                icon: "file-word",
                label: `Click to download the "one page" Microsoft Word version`
            }
            ,{
                url: "asset/doc/CONTRACTS ONLY - resume Marian Zburlea.docx",
                icon: "file-word",
                label: `Click to download the "full experience" Microsoft Word version`
            }
        ]
    }
//- the view comes here
#about-me
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imagePath)
    .about-me__full-name=myFullName
    .about-me__full-title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievement.title
    .about-me__content=achievement.content

    .about-me__title=coolStuff.title
    .about-me__link-list
        each button in coolStuff.buttonList
            a(href=button.url)
                span=button.label
                span(class=`.my-cv__icon--${button.icon}`)